{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class ="wrapper">
    <main>
        <h1 class = "text-center m-4 fw-bold text-decoration-underline">Cruisers</h1>
        <div class = "destination-container">
        <section class="back-card p-4 m-1">
            <div>
                <h2 class = "text-decoration-underline"><strong>Saturn Rings Cruiser</strong></h2>
                <h3>Duration: 13 to 15 months (Earth time)</h3>
                <h4>Orbital Station</h4>
                <p>Experience the Magic of Saturn's Rings: Join Our Saturn Rings cruiser Adventure!</p>
                <p>Are you ready for an interstellar journey like no other? Step aboard our state-of-the-art Saturn Rings Cruiser and embark on a celestial odyssey that will leave you in awe.</p>
                <ul>
                    <li><strong>Expert Guided Tours:</strong>Learn from our knowledgeable guides as they share the secrets of Saturn and its rings. Discover the science, history, and mysteries of this incredible planet while you soak in the mesmerizing views.</li>
                    <li><strong>Limited Seats: </strong>Our Saturn Rings Cruiser is in high demand, and seats are limited. Don't miss your chance to join this exclusive adventure.</li>
                    <li><strong>Book Now: </strong>Secure your spot on the journey of a lifetime. Contact us today to reserve your seat on our upcoming Saturn Rings Cruiser expedition. Whether you're a seasoned space enthusiast or a first-time explorer, this is an experience you won't want to miss.</li>
                    <li><strong>Reach for the Stars:</strong>Join us and reach for the stars as we explore the enchanting rings of Saturn. Book your ticket to the cosmos now!</li>
                </ul>
            </div>
            <div>
                <img src="https://cdn.pixabay.com/photo/2022/06/30/13/20/space-7293691_1280.jpg"alt="" class ="vacs-img img-fluid">
            </div>
            <a href="{{path('booking')}}" class="btn btn-primary m-3">Book Now</a>
        </section>
        <section class="back-card p-4 m-1 position-relative">
            <div>
                <h2 class="text-decoration-underline"><strong>Oort Cloud Explorer</strong></h2>
                <h3>Duration: 2 to 3 years (Earth time)</h3>
                <h4>Deep Space Expedition</h4>
                <p>Embark on a Spectacular Journey to the Mysteries of the Oort Cloud!</p>
                <p>Prepare for a cosmic adventure of epic proportions! Our Oort Cloud Explorer cruiser offers a unique opportunity to voyage to the outermost reaches of our solar system, visiting every planet along the way.</p>
                <ul>
                    <li><strong>Uncharted Territory:</strong> Venture beyond the Kuiper Belt to the distant Oort Cloud, a region filled with comets, icy bodies, and cosmic enigmas waiting to be uncovered.</li>
                    <li><strong>Extended Exploration:</strong> This extended expedition will allow you to immerse yourself in deep space exploration, study celestial phenomena, and witness the birthplace of comets.</li>
                    <li><strong>Exclusive Experience:</strong> Join a select group of explorers on this once-in-a-lifetime journey. Limited spots are available, so reserve your place in history today!</li>
                    <li><strong>Discover the Unknown:</strong> Be a part of the team that unlocks the secrets of the Oort Cloud. Book your ticket and become an explorer of the cosmos!</li>
                </ul>
            </div>
            <div>
                <img src="https://cdn.pixabay.com/photo/2019/12/07/10/06/asteroid-4679027_1280.jpg" alt="" class="vacs-img img-fluid">
            </div>
            <a href="{{path('booking')}}" class="btn btn-primary m-3">Book Now</a>
        </section>
        </div>
    </main>
    </div>
{% endblock %}
