{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="wrapper">
    <main class="container my-5">
        <h1 class="text-center mb-4">About Us</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Our Story</h2>
                <p>As.tra.vel was founded in 2030 with a vision to make space exploration accessible to all. Since then, we have been on a mission to provide safe and unforgettable experiences that allow people to explore the wonders of the universe.</p>
                <p>Over the years, we have successfully launched numerous space journeys, allowing our customers to witness the beauty of celestial bodies and experience the thrill of space travel.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Team</h2>
                <p>Our team consists of passionate experts in space exploration, engineering, and customer service. We work tirelessly to ensure that your space travel dreams become a reality.</p>
                <p>We are dedicated to safety, innovation, and delivering exceptional service to our customers. Each member of our team brings a unique set of skills and experiences to make your space adventure truly extraordinary.</p>
            </div>
        </div>
    </main>
    </div>
{% endblock %}
