{% extends 'base.html.twig' %}

{% block title %}Hello DidYouKnowController!{% endblock %}

{% block body %}
    <div class="wrapper">
        <main class="container my-5">
            <section class="row">
                <div class="col-md-8">
                    <h2 class="mb-4">Mercury Is Shrinking and Tectonically Active</h2>
                    <p>It’s small, it’s hot, and it’s shrinking. New NASA-funded research suggests that Mercury is contracting even today, joining Earth as a tectonically active planet.</p>
                    <p>Images obtained by NASA’s MESSENGER spacecraft reveal previously undetected small fault scarps—cliff-like landforms that resemble stair steps. These scarps are small enough that scientists believe they must be geologically young, which means Mercury is still contracting.</p>
                    <p>This discovery challenges the previous belief that Earth is the only tectonically active planet in our solar system.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://photojournal.jpl.nasa.gov/browse/PIA16850.gif" alt="Mercury Image" class="img-fluid">
                </div>
            </section>
            <a href="https://science.nasa.gov/mercury/facts/" class="btn btn-primary my-5" target="_blank">Learn More</a>
        </main>
    </div>
{% endblock %}
