{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class ="wrapper">
    <main class="container my-5">
        <section class= "my-5">
            <h2>Overview</h2>
            <p>'Oumuamua, the first confirmed object from another star to visit our solar system, is a rocky, cigar-shaped object with a reddish hue. It's up to one-quarter mile long and highly elongated, providing new clues into how other solar systems formed.</p>
        </section>
        <section class= "mt-5">
            <h2>Discovery</h2>
            <p>Discovered by the University of Hawaii's Pan-STARRS1 telescope in 2017, 'Oumuamua was originally classified as a comet but later revealed no cometary activity. It behaves more like an asteroid but exhibited slight acceleration.</p>
        </section>
        <section class= "mt-5">
            <h2>Unique Characteristics</h2>
            <p>'Oumuamua's unusual brightness variation, reddish color, and complex shape suggest it is dense, composed of rock and metals, and devoid of water or ice. Cosmic ray irradiation over millions of years reddened its surface.</p>
            <p>One of the most intriguing aspects of 'Oumuamua is its highly elongated shape. It is approximately 10 times longer than it is wide, making it unlike any object observed in our solar system. This unique shape has led scientists to question its origins and what it can reveal about other star systems.</p>
        </section>

            <img src="https://smd-cms.nasa.gov/wp-content/uploads/2023/07/Artists_concept_of_cigar-shaped_space_rock-1.jpeg" alt="" class = "img-fluid oumoamoa">

        <section class= "mt-5">
            <h2>Interstellar Journey</h2>
            <p>'Oumuamua had been wandering through the Milky Way unattached to any star system for hundreds of millions of years before its encounter with our solar system. It passed Mars's orbit in 2017 and will travel beyond Saturn's orbit in 2019.</p>
            <p>Astronomers estimate that similar interstellar objects pass through the inner solar system about once per year. However, they are faint and hard to spot, and 'Oumuamua's discovery marked the first direct evidence of such interstellar travelers.</p>
        </section>
        <a href="https://science.nasa.gov/solar-system/comets/oumuamua/" class="btn btn-primary my-5" target="_blank">Learn More</a>
    </main>
    </div>
{% endblock %}
