{% extends 'base.html.twig' %}

{% block title %}Hello TransportController!{% endblock %}

{% block body %}
    <div class ="wrapper">
    <main class="container my-5">
        <h1 class="text-center">Ad-Astra Vehicle</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{{asset('images/ad-astra.png')}}" alt="Ad-Astra Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>About the Ad-Astra</h2>
                <p>The Ad-Astra is a medium-range spacecraft designed for efficient travel between space stations and orbital habitats. While it doesn't land on planets, it provides a comfortable and luxurious way to navigate the cosmos.</p>

                <h3>Key Features</h3>
                <ul>
                    <li><strong>Medium-Range Travel:</strong> The Ad-Astra specializes in medium-range travel between space stations, making it an ideal choice for those exploring the depths of space.</li>
                    <li><strong>Luxurious Cabins:</strong> Passengers enjoy spacious and luxurious cabins with panoramic windows, allowing breathtaking views of space and celestial wonders.</li>
                    <li><strong>Onboard Amenities:</strong> The Ad-Astra is equipped with a range of amenities and entertainment options to ensure a comfortable and enjoyable journey.</li>
                    <li><strong>Experienced Crew:</strong> Our crew members are highly trained to provide excellent service and ensure a seamless journey for all passengers.</li>
                </ul>

                <h3>Your Cosmic Journey</h3>
                <p>Embark on a cosmic journey aboard the Ad-Astra and experience the beauty and mysteries of space. Whether you're traveling for leisure or conducting research, the Ad-Astra offers an unparalleled space experience.</p>

                <h3>Booking Information</h3>
                <p>Ready to book your adventure with the Ad-Astra? Visit our "Bookings" page to reserve your seat and set out on a voyage through the cosmos.</p>
            </div>
        </div>
    </main>
    </div>
{% endblock %}
