{% extends 'base.html.twig' %}

{% block title %}Hello TransportController!{% endblock %}

{% block body %}
    <div class ="wrapper">
    <main class="container my-5">
        <h1 class="text-center">Cruiser Vehicle</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{{asset('images/cruiser.png')}}" alt="Cruiser Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>About the Cruiser</h2>
                <p>The Cruiser is a grand vessel designed for an extended tour of the solar system, offering a unique and luxurious space cruise experience. With its large passenger capacity, it's the perfect choice for those looking to explore the cosmos in comfort and style.</p>

                <h3>Key Features</h3>
                <ul>
                    <li><strong>Spacious Cabins:</strong> Passengers enjoy spacious cabins with luxurious amenities, ensuring a comfortable and relaxing journey.</li>
                    <li><strong>Dining and Entertainment:</strong> Multiple dining options and entertainment venues are available on board, allowing passengers to dine and be entertained while surrounded by the wonders of space.</li>
                    <li><strong>Guided Tours:</strong> Knowledgeable guides provide informative tours of celestial wonders throughout the solar system, enhancing the overall space cruise experience.</li>
                    <li><strong>Unforgettable Adventure:</strong> The Cruiser offers a once-in-a-lifetime opportunity to explore the beauty of the solar system without the need for planetary landings.</li>
                </ul>

                <h3>Your Cosmic Cruise</h3>
                <p>Embark on an unforgettable cosmic cruise aboard the Cruiser and witness the breathtaking sights of our solar system. Whether you're seeking relaxation, adventure, or simply a unique journey among the stars, the Cruiser delivers an exceptional space experience.</p>

                <h3>Booking Information</h3>
                <p>Ready to set sail on your cosmic adventure with the Cruiser? Visit our "Bookings" page to reserve your spot and prepare for a remarkable journey through the cosmos.</p>
            </div>
        </div>
    </main>
    </div>
{% endblock %}
