{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class ="wrapper">
    <main class="container my-5">
        <h1 class="text-center">Shuttle Vehicle</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="{{asset('images/shuttle.png')}}" alt="Shuttle Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>About the Shuttle</h2>
                <p>The Shuttle is an iconic spacecraft known for its role in carrying astronauts and cargo to and from orbital stations and space habitats. It has played a pivotal role in human space exploration for decades.</p>

                <h3>Key Features</h3>
                <ul>
                    <li><strong>Reliable Transportation:</strong> The Shuttle provides safe and reliable transportation to orbital stations, including the International Space Station (ISS).</li>
                    <li><strong>Spacious Cabins:</strong> Passengers enjoy spacious cabins with comfortable seating, making the journey a pleasant and comfortable experience.</li>
                    <li><strong>Experienced Crew:</strong> Our highly trained crew members ensure a smooth and secure journey, with a strong emphasis on safety and efficiency.</li>
                    <li><strong>Versatile Cargo:</strong> In addition to passengers, the Shuttle is capable of transporting a wide range of cargo, including scientific equipment, supplies, and satellites.</li>
                </ul>

                <h3>Space Adventures</h3>
                <p>Embark on a thrilling space adventure aboard the Shuttle and experience the wonders of space like never before. Whether you're a space enthusiast or a scientist conducting groundbreaking research, the Shuttle offers a gateway to the cosmos.</p>

                <h3>Book Your Journey</h3>
                <p>Ready to book your space travel experience on the Shuttle? Visit our "Bookings" page and start your journey into the final frontier.</p>
            </div>
        </div>
    </main>
    </div>
{% endblock %}
